html, body {
  height: 100%;
  margin: 0;
  background-color: #000000;
}

h1 {
  font-family: Garamond (serif);
  font-size: 25pt;
  color: white;
}

h2 {
  font-family: cursive;
  font-size: 22pt;
  color: white;
}

h3 {
  font-family: cursive;
  font-size: 20pt;
  color: white;
}

h4 {
  font-family: cursive;
  font-size: 15pt;
  color: white;
}

p {
  font-family: cursive;
  font-size: 15pt;
  color: white;
}

button {
  font-family: Arial, sans-serif;
}

#background-image {
  /* The image used */
  background-image: url('images/backgroundImage.jpeg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-box {
  width: 80%;
  position: absolute;
  bottom: 10px;
  top: 50px;
  overflow-y: scroll;
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-button {
  color: white;
  font-size: 15pt;
  flex-grow: 1;
  padding: 0px 5px 0px 5px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
}

.nav-button:hover {
  background-color: #683f1c;
}

#home-page {
  display: inline-block;
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-button {
  width: 100%;
  height: 33.33%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 15pt;
  border-width: 1pt;
}

.about-button:hover {
  background-color: #683f1c;
}

#about-nav {
  height: 400px;
  width: 20%;
  display: flex;
  flex-direction: column;
}

#about {
  display: flex;
  flex-direction: row;
}

#about-info {
  height: 398px;
  width: 80%;
  border-width: 1pt;
  border-style: solid;
  border-color: gray;
  display: flex;
  flex-direction: row;
}

#about-title {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-paragraph {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-picture {
  height: 350px;
  padding: 25px;
  max-width: 30%;
}

#prof-info {
  height: 398px;
  width: 80%;
  border-width: 1pt;
  border-style: solid;
  border-color: gray;
  display: none;
  flex-direction: row;
}

#hobbies-info {
  height: 398px;
  width: 80%;
  border-width: 1pt;
  border-style: solid;
  border-color: gray;
  display: none;
  flex-direction: row;
}

#mini-blog-post-container {
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
}

.mini-blog-post {
  height: 100%;
  width: 33.33%;
  border-width: 1pt;
  border-style: solid;
  border-color: gray;
}

#plays {
  width: 99.8%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 1, 1, 0.7);
  border-width: 1pt;
  border-style: solid;
  border-color: gray;
}

#plays-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.two-play-container{
  display: flex;
  justify-content: space-around;
}

.play-poster {
  height: 500px;
  padding: 50px 0px 50px 0px;
}

#quotes {
  width: 99.8%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 1, 1, 0.7);
  border-width: 1pt;
  border-style: solid;
  border-color: gray;
}

.quote-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 99.8%;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 1, 1, 0.7);
  border-width: 1pt;
  border-style: solid;
  border-color: gray;
}



#my-books-page {
  display: none;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-width: 1pt;
  border-style: solid;
  border-color: gray;
}

.book-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  border-width: 1pt;
  border-style: solid;
  border-color: gray;
}

.book-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.book-cover {
  height: 300px;
  padding: 40px;
}



#blog-page {
  display: none;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.blog-post {
  width: 100%;
  height: auto;
  border-width: 1pt;
  border-style: solid;
  border-color: gray;
  display: flex;
  flex-direction: column;
}

.blog-title-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-post-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}



#updates-page {
  display: none;
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
}



#contact-page {
  display: none;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#contact-info {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: 1pt;
  border-style: solid;
  border-color: gray;
}

#email:hover {
  cursor: pointer;
}

.social-media {
  height: 50px;
  border-radius: 50%;
  padding: 20px;
}
